doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Web WoL
  body
    .header
      h1.page-title Web WoL

    ul.nav
      li: a(href='/') Machines
      li: a(href='/wakeall') Wake all
      li: a(href='/add') Add New

    .main-content
      block content