doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title BL WoL
  body
    .header
      h1.page-title Web WoL

    ul.nav
      li: a(href='/machines') Machines
      li: a(href='/add') Add New
      li: a(href='/wakeall') Wake all
      li: a(href='/about') About
          
    .main-content
      block content

    .footer
      p Copyright © 2017  organom
